

/* Header CSS */
.subMenuLink,.menuLink{
    text-decoration:none;
    color:#000;
    font-size:0.8rem;
}
.menuTitle .MuiTypography-root{
    font-size: 0.9rem;
    color: #000;
}
.menuName .MuiListItemIcon-root{
    min-width: 35px;
}
.MuiCollapse-vertical .menuName .MuiListItemIcon-root{
    min-width: 30px;
}
.subMenuLink svg{
    width: 18px;
}
.MuiDrawer-root .MuiDrawer-paper {
  top: 15px;
  left: 20px;
  height: 94.5vh;
  border-radius: 10px;
  box-shadow: 0 0 7px 3px #dee2e6;
  overflow: hidden;
}
.MuiDrawer-root .MuiDrawer-paper .MuiList-root {
  overflow-x: hidden;
  overflow-y: scroll;
}
.MuiDrawer-root .MuiDrawer-paper .MuiList-root::-webkit-scrollbar {
  visibility: hidden;
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
}
.MuiDrawer-root .MuiDrawer-paper .MuiList-root:hover::-webkit-scrollbar,.MuiDrawer-root .MuiDrawer-paper .MuiList-root:hover::-webkit-scrollbar-thumb {
visibility: visible;
}
.MuiDrawer-root .MuiDrawer-paper .MuiList-root::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 3px;
  background-color: rgba(182, 193, 210, 0.55);
}
.MuiDrawer-root .MuiDrawer-paper .MuiCollapse-wrapperInner .MuiList-root {
  overflow: hidden;
}
.MuiPaper-root::-webkit-scrollbar {
  width: 5px;
}

.MuiPaper-root::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.MuiPaper-root::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
